/* Balance Alert */
.alert {
  border-radius: 8px;
  color: #fff;
  text-transform: uppercase;
  font-size: 17px;
  visibility: hidden;
  opacity: 0;
  margin: auto;
  padding: 0;
  box-shadow: none;
  z-index: 100005;
}
.alert.active {
  visibility: visible;
  opacity: 1;
}
.alert p {
  background: transparent;
  border: 0px none;
  margin-right: 0;
  padding-right: 25px;
  font-size: 17px;
  margin-bottom: 0;
  text-transform: initial;
  line-height: 1.2;
  text-align: left;
  -webkit-touch-callout: initial; /* iOS Safari */
  -webkit-user-select: initial; /* Safari */
  -khtml-user-select: initial; /* Konqueror HTML */
  -moz-user-select: initial; /* Firefox */
  -ms-user-select: initial; /* Internet Explorer/Edge */
  user-select: initial; /* Non-prefixed version, currently supported by Chrome and Opera */
}
