/* Balance Alert */
.balanceAlert {
  display: table;
  border: 1px solid #327a9b;
  border-radius: 8px;
  background: url(../images/info-bg.png);
  background-size: 100% 100%;
  background-repeat: repeat-y;
  color: #fff;
  text-transform: uppercase;
  font-size: 17px;
  padding: 12px 15px 15px;
  width: 680px;
  visibility: hidden;
  opacity: 0;
  transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100005;
}
.balanceAlert.active {
  visibility: visible;
  opacity: 1;
}
.balanceAlert:hover {
  outline: 0px none;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 199, 236, 0.5);
  box-shadow: 0 0 20px 0 rgba(0, 199, 236, 0.5);
  border: 1px solid #00e7ff;
}
.balanceAlert .close {
  width: auto;
  position: absolute;
  right: 15px;
  top: 14px;
  color: #fff;
  opacity: 1;
  font-size: 19px;
  font-family: "Brandon Grotesque Bold", Helvetica, Arial, sans-serif;
}
.balanceAlert p {
  background: transparent;
  border: 0px none;
  margin-right: 0;
  padding-right: 25px;
  font-size: 17px;
  margin-bottom: 0;
  text-transform: initial;
  line-height: 1.2;
  text-align: left;
}
.balanceAlertBackdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.85);
  z-index: 100004;
  opacity: 0;
  visibility: hidden;
  border-radius: 7px;
  transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}
.balanceAlertBackdrop.active {
  visibility: visible;
  opacity: 1;
}

/* Send Popup */
.sendModal {
  display: table;
  border: 1px solid #327a9b;
  border-radius: 8px;
  background: url(../images/info-bg.png);
  background-size: 100% 100%;
  background-repeat: repeat-y;
  color: #fff;
  text-transform: uppercase;
  font-size: 17px;
  padding: 12px 15px 15px;
  width: 600px;
  visibility: hidden;
  opacity: 0;
  transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100002;
}
.sendModal.active {
  visibility: visible;
  opacity: 1;
}
.sendModal:hover {
  outline: 0px none;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 199, 236, 0.5);
  box-shadow: 0 0 20px 0 rgba(0, 199, 236, 0.5);
  border: 1px solid #00e7ff;
}
.sendModal .close {
  width: auto;
  position: absolute;
  right: 15px;
  top: 14px;
  color: #fff;
  opacity: 1;
  font-size: 19px;
  font-family: "Brandon Grotesque Bold", Helvetica, Arial, sans-serif;
}
.sendModal p {
  background: transparent;
  border: 0px none;
  margin-right: 0;
  font-size: 17px;
  margin-bottom: 0;
  text-transform: initial;
  line-height: 1.2;
  text-align: center;
}
.sendModal .form-group-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sendModal .form-group-wrap .form-group {
  margin-top: 0;
  width: calc(50% - 7.5px);
}
.sendModalBackdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.85);
  z-index: 10001;
  opacity: 0;
  visibility: hidden;
  border-radius: 7px;
  transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}
.sendModalBackdrop.active {
  visibility: visible;
  opacity: 1;
}