/* Balance Modal */
.balance-modal {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  width: 730px;
  padding: 15px;
}
.balance-modal h3 {
  margin: 0 0 25px;
  font-size: 20px;
  text-transform: initial;
}
.balance-modal h4 {
  text-transform: initial;
  text-transform: none;
  background: url(../images/input-bg.png) repeat-y top left;
  background-size: 100% 100%;
  padding: 9px 0 7px;
  margin: 0;
  border-radius: 5px;
}
.balance-modal textarea::-webkit-input-placeholder,
.balance-modal input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  text-transform: initial;
}
.balance-modal textarea::-moz-placeholder,
.balance-modal input::-moz-placeholder { /* Firefox 19+ */
  text-transform: initial;
}
.balance-modal textarea:-moz-placeholder,
.balance-modal input:-moz-placeholder { /* Firefox 18- */
  text-transform: initial;
}
.balance-modal textarea:-ms-input-placeholder,
.balance-modal input:-ms-input-placeholder { /* IE 10+ */
  text-transform: initial;
}
.balance-modal label {
  text-align: left;
}
.balance-modal form button {
  margin-top: 10px;
}
.balance-modal p {
  font-size: 14px;
  line-height: 1.2;
}
.balance-modal p button {
  border-radius: 7px;
  background-color: rgba(18, 190, 221, 0.45);
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.26px;
  line-height: 1.2;
  position: relative;
  border: 2px solid #54BCD9;
  margin: 4px 5px;
  padding: 6px 12px 5px;
  transition: none;
}
.balance-modal p button:hover {
  box-shadow: none !important;
  cursor: initial;
}
.balance-modal p button.red-btn {
  background: #c80e4b;
  border: 1px solid #c80e4b;
}
.balance-modal p button.red-btn-en,
.balance-modal p button.gen-new-wallet-sr {
  margin-left: 0;
}
.balance-modal p button.green-btn {
  background: #0ec8c1;
  border: 1px solid #0ec8c1;
}
.balance-modal .lang-bts-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
}
.balance-modal .lang-bts-wrap button {
  margin: 0 10px 0 0;
  padding: 4px 8px 3px;
  width: 48px;
  text-indent: 2px;
}
.balance-modal .lang-bts-wrap button.active {
  background: #0ec8c1;
  border: 2px solid #0ec8c1;
}
.balance-modal .lang-bts-wrap button.active:hover {
  box-shadow: 0 0 30px 0 rgba(14, 200, 193, .5) !important;
}
.balance-modal p img {
  position: relative;
  top: -1px;
  height: 28px;
  margin: 4px 5px;
}
.balance-modal .save-wallet-keys,
.balance-modal .gen-new-wallet {
  margin: 0 4px 5px 0;
}
.balance-modal p strong {
  color: #c80e4b;
  text-transform: uppercase;
}
.balance-modal .btns-wrap {
  position: absolute;
  top: 15px;
}
.balance-modal .btns-wrap button {
  padding: 7px 9px 7px;
  position: relative;
}
.balance-modal .btns-wrap button img {
  max-height: 23px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.balance-modal .btns-wrap .signal,
.balance-modal .btns-wrap .blockheight {
  border: 0px none;
  padding: 0;
  background: transparent;
}
.balance-modal .btns-wrap .signal:hover,
.balance-modal .btns-wrap .blockheight:hover {
  box-shadow: none !important;
  cursor: initial;
}
.balance-modal .btns-wrap .blockheight {
  margin-left: 15px;
  min-width: 75px;
}
.balance-modal .btns-wrap .blockheight img {
  opacity: 1;
  margin-right: 8px;
}
.balance-modal .btns-wrap .blockheight span {
  letter-spacing: 0px;
}
.balance-modal .btns-wrap .signal img {
  max-height: 23px;
}
.balance-modal .btns-wrap .refresh {
  margin-left: 15px;
}
.balance-modal .btns-wrap .refresh img {
  max-height: 18px;
}
.balance-modal .groups-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.balance-modal .form-group {
  width: calc(50% - 7px);
  float: left;
  margin-top: 0;
  text-align: left;
}