/* Header */
header {
  text-align: center;
  width: 100%;
  z-index: 1;
  margin: 0px 0 35px;
  position: relative;
  padding: 40px 0 0;
}
header .win-buttons-wrap {
  position: absolute;
  right: 10px;
  top: 10px;
}
header .win-buttons-wrap button {
  margin-left: 10px;
}
header .close {
  display: inline-block;
  color: #fff;
  opacity: 1;
  font-size: 19px;
  font-family: "Brandon Grotesque Bold", Helvetica, Arial,sans-serif;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
header .close.fadeIn,
header .minimize.fadeIn,
header .maximize.fadeIn {
  animation-delay: .8s;
}
header .close:focus,
header .close:hover,
header .minimize:hover {
  color: #54BCD9;
  text-shadow: 0 1px 0 #54BCD9;
  opacity: 1;
}
header .minimize {
  background: none;
  border: 0px;
  display: inline-block;
  font-size: 25px;
  color: #fff;
  opacity: 1;
  padding: 0;
  line-height: 1;
  position: relative;
  top: -8px;
  /* height: 20px; */
  font-family: "Brandon Grotesque Bold", Helvetica, Arial,sans-serif;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
header .maximize {
  background: none;
  border: 0px;
  display: inline-block;
  font-size: 25px;
  color: #fff;
  border: 2px solid #fff;
  border-top: 4px solid #fff;
  opacity: 1;
  height: 16.5px;
  width: 12px;
  padding: 0;
  line-height: 1;
  position: relative;
  top: -6.5px;
  font-family: "Brandon Grotesque Bold", Helvetica, Arial,sans-serif;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
header .maximize:hover {
  border: 2px solid #54BCD9;
  border-top: 4px solid #54BCD9;
}
header img.fadeIn {
  animation-delay: .3s;
}
header p {
  color: #fff;
  position: absolute;
  top: 10px;
  right: 15px;
  margin-bottom: 0;
  -webkit-touch-callout: initial; /* iOS Safari */
  -webkit-user-select: initial; /* Safari */
  -khtml-user-select: initial; /* Konqueror HTML */
  -moz-user-select: initial; /* Firefox */
  -ms-user-select: initial; /* Internet Explorer/Edge */
  user-select: initial; /* Non-prefixed version, currently supported by Chrome and Opera */
}
header p.fadeIn {
  animation-delay: .8s;
}