/* Instructions modal */
.instructions-modal {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  width: 760px;
  min-height: 418px;
}
.instructions-modal h3 {
  margin: 0 0 25px;
  font-size: 20px;
  text-transform: initial;
}
.instructions-modal p {
  font-size: 14px;
  line-height: 1.2;
  text-align: left;
}
.instructions-modal p button {
  border-radius: 7px;
  background-color: rgba(18, 190, 221, 0.45);
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.26px;
  line-height: 1.2;
  position: relative;
  border: 2px solid #54BCD9;
  margin: 1px 5px 3px;
  padding: 5px 10px 4px;
  transition: none;
}
.instructions-modal p.warning {
  margin: 10px 0 8px;
}
.instructions-modal p.red {
  text-transform: uppercase;
}
.instructions-modal p button:hover {
  box-shadow: none !important;
  cursor: initial;
}
.instructions-modal p button.red-btn {
  background: #c80e4b;
  border: 1px solid #c80e4b;
}
.instructions-modal p button.red-btn-en,
.instructions-modal p button.gen-new-wallet-sr {
  margin-left: 0;
}
.instructions-modal p button.green-btn {
  background: #0ec8c1;
  border: 1px solid #0ec8c1;
}
.instructions-modal p button.icon-btn {
  padding: 0;
  min-width: 38px;
  top: -2px;
}
.instructions-modal p button.icon-btn img {
  max-height: 23px;
}
.instructions-modal .lang-bts-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
}
.instructions-modal .lang-bts-wrap button {
  margin: 0 10px 0 0;
  padding: 4px 8px 3px;
  width: 48px;
  text-indent: 2px;
}
.instructions-modal .lang-bts-wrap button.active {
  background: #0ec8c1;
  border: 2px solid #0ec8c1;
}
.instructions-modal .lang-bts-wrap button.active:hover {
  box-shadow: 0 0 30px 0 rgba(14, 200, 193, .5) !important;
}
.instructions-modal p img {
  position: relative;
  top: -1px;
  height: 28px;
  margin: 4px 5px;
}
.instructions-modal .save-wallet-keys,
.instructions-modal .gen-new-wallet {
  margin: 0 4px 5px 0;
}
.instructions-modal p strong {
  color: #c80e4b;
  text-transform: uppercase;
}