.mining-app-wrap {
  padding: 15px 0 0;
  z-index: 2;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mining-bg-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mining-bg-wrap img {
  position: absolute;
  width: 100%;
  max-width: calc(100% - 20px);
  z-index: 0;
}
header {
  text-align: center;
  width: 100%;
  z-index: 1;
  margin: -30px 0 25px;
  position: relative;
  animation-delay: .3s;
}
header p {
  color: #fff;
  position: absolute;
  top: -20px;
  right: 15px;
  margin-bottom: 0;
  animation-delay: .8s;
}

/* Main */
.main {
  z-index: 3;
  width: 100%;
  text-align: center;
  animation-delay: .3s;
  position: relative;
  top: 0;
}
.btns-wrap {
  margin-bottom: 8px;
  text-align: center;
}
.instructions-btn {
  background: transparent;
  border: 0px none;
  font-weight: 600;
  font-size: 23px;
  line-height: 1;
  color: rgba(255,255,255,1);
  position: relative;
  top: 4px;
}

.modal-btn {
  padding: 0 0 0 12px;
  z-index: 3;
  background-color: transparent;
  border: 0px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.modal-btn:first-of-type {
  padding: 0;
}
.modal-btn:hover {
  cursor: pointer;
  transform: translate(0,-2px);
}
.modal-btn:active {
  box-shadow: none !important;
}
.modal-btn img {
  max-height: 23px;
  transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
}
.modal-btn[disabled] img {
  opacity: .5;
}
.modal-btn[disabled]:hover {
  transform: none;
  cursor: initial;
}

.main form {
  text-align: center;
  margin-bottom: 10px;
}
.address-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}
.address-wrap input {
  width: calc(100% - 420px);
  z-index: 2;
  display: inline-block;
  border: 0px none;
  border-radius: 8px;
  padding: 3px 10px;
  background: url(../images/input-bg.png) repeat-y top left;
  background-size: 100% 100%;
  color: #fff;
  position: absolute;
  left: 212px;
  text-align: center;
}
.address-wrap img {
  width: 272px;
}
.main form input {
  transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}
.main form input:hover,
.main form input:active,
.main form input:focus {
  box-shadow: 0 0 30px 0 rgba(0, 199, 236, 0.5) !important;
}
.main form input[disabled] {
  color: rgba(255,255,255,.7);
}
.main form input[disabled]:hover {
  box-shadow: none !important;
}
.main form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  opacity: 1;
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
}
.main form input::-moz-placeholder { /* Firefox 19+ */
  opacity: 1;
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
}
.main form input:-moz-placeholder { /* Firefox 18- */
  opacity: 1;
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
}
.main form input:-ms-input-placeholder { /* IE 10+ */
  opacity: 1;
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
}
.main form .pool-url {
  background: rgba(10, 26, 45, .2);
  padding: 7px 10px 6px;
  color: #fff;
  border-radius: 8px;
  width: 350px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  border: 1px solid rgba(255,255,255,.85);
  text-align-last: center;
  height: 30px;
}
.main form .pool-url:hover {
  cursor: pointer;
}
.main form .pool-url:focus {
  outline: none;
}
.main form .pool-url[disabled] {
  color: rgba(255,255,255,.7);
}
.main form .pool-url[disabled]:hover {
  box-shadow: none !important;
  cursor: initial;
}
.options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 12px 0 20px;
}
.custom-checkbox input[type=checkbox]{
  display: none;
}
.custom-checkbox {
  color: #ffffff;
  font-size: 19px;
  font-weight: 500;
  position: relative;
  top: -20px;
  padding-left: 22px;
  margin-bottom: 0px;
  text-align: left;
  display: inline-block;
  width: auto;
}
.custom-checkbox:before{
  content: "";
  background: url(../images/check-off.png);
  background-size: 100% 100%;
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  left: 0;
  top: 4px;
}
.custom-checkbox.checked:before{
  background: url('../images/check-on.png');
  background-size: 100% 100%;
}
.main form #cpuUsage {
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  padding: 2px 29px 3px 12px;
  border: 1px solid rgba(255,255,255,.85);
  background-color: rgba(28, 170, 203, .35);
  color: #fff;
  border-radius: 10px;
  text-align-last: center;
  width: auto;
  height: 30px;
  margin-left: 5px;
  transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
}
.main form #cpuUsage:hover {
  cursor: pointer;
  box-shadow: 0 0 30px 0 rgba(0, 199, 236, 0.5) !important;
}
.main form #cpuUsage:focus {
  outline: none;
  border: 1px solid rgba(255,255,255,.85);
}
.main form #cpuUsage[disabled] {
  color: rgba(255,255,255,.7);
}
.main form #cpuUsage[disabled]:hover {
  box-shadow: none !important;
  cursor: initial;
}
.main form .input-group p {
  font-family: 'Avenir Bold', sans-serif;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 0;
  margin-right: 5px;
  font-size: 13px;
  white-space: nowrap;
  position: relative;
  top: 2px;
}
.input-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.submit {
  border-radius: 7px;
  background-color: rgba(18, 190, 221, 0.45);
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.26px;
  line-height: 1.2;
  position: relative;
  border: 2px solid #60c9e6;
  margin: 0px 0 10px;
  padding: 7px 0px 3px;
  width: 140px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.submit:hover {
  box-shadow: 0 0 30px 0 rgba(0, 199, 236, 0.5) !important;
  cursor: pointer;
}
.submit:active {
  box-shadow: none !important;
}
.submit.active {
  background-color: rgba(221, 18, 99, 0.4);
  border: 2px solid #ff004e;
}
.submit.active:hover {
  box-shadow: 0 0 30px 0 rgba(200, 14, 75, 1) !important;
}
.mining-info {
  color: #fff;
  text-transform: uppercase;
  visibility: hidden;
  min-height: 18px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 1;
}
.mining-info.active {
  visibility: visible;
}

/* Bottom blocks */
.block,
.hashrate,
.balance {
  font-family: 'Courier New', Helvetica, Arial, sans-serif;
  font-size: 18px;
}
.block,
.hashrate,
.balance {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.white-text {
  font-size: 14px;
  color: #fff;
  margin-bottom: 0;
  margin-left: 7px;
  line-height: 1;
  position: relative;
  top: -3px;
  width: 145px;
  text-align: left;
}
.blue-text {
  font-size: 14px;
  line-height: 1;
  color: #00deff;
  text-transform: uppercase;
  margin-bottom: 5px;
  margin-right: 7px;
  width: 180px;
  text-align: right;
}

/* Footer */
.main footer {
  position: absolute;
  right: 15px;
  bottom: -35px;
  text-align: right;
  animation-delay: 0.8s;
  z-index: 2;
}
.main footer a {
  display: inline-block;
}
.main footer p {
  font-family: "Rift Soft", Helvetica, Arial, sans-serif;
  color: #1caacb;
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 11px;
  letter-spacing: 4px;
  position: relative;
  right: -5px;
}
.main footer h3 {
  font-family: "Rift Soft", Helvetica, Arial, sans-serif;
  color: #1caacb;
  margin: 0;
  font-size: 27px;
  letter-spacing: 5px;
  position: relative;
  right: -5px;
  font-weight: 600;
}
.main footer a {
  display: inline-block;
}
.main footer a:hover {
  cursor: pointer;
}
.main footer a:hover img {
  opacity: .9;
}
.main footer img {
  width: 130px;
  opacity: .6;
  transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}

@media (min-width: 800px) {
  .mining-bg-wrap img {
    max-width: 800px;
  }
}