.mining-app-wrap {
  padding: 15px 0 0;
  z-index: 2;
  position: absolute;
  width: 100%;
}
.mining-bg-wrap {
  position: absolute;
  width: 100%;
  height: 100%;

  z-index: 0;
}
.mining-bg-wrap img {
  position: absolute;
  width: 100%;
  top: calc(50% + -390px);
  z-index: 0;
}
header {
  text-align: center;
  position: absolute;
  width: 100%;
  z-index: 1;
}
header p {
  color: #fff;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Main */
.main {
  z-index: 2;
  position: absolute;
  width: 100%;
  top: 115px;
  text-align: center;
}
.new-wallet-btn {
  border-radius: 7px;
  background-color: rgba(18, 190, 221, 0.45);
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.26px;
  line-height: 1.2;
  position: relative;
  border: 2px solid #54BCD9;
  margin: 0px 0 5px;
  padding: 6px 12px 5px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.new-wallet-btn:hover {
  box-shadow: 0 0 30px 0 rgba(0, 199, 236, 0.5) !important;
}
.new-wallet-btn:active {
  box-shadow: none !important;
}
.main form {
  text-align: center;
  margin-bottom: 10px;
}
.address-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}
.address-wrap input {
  width: 380px;
  z-index: 2;
  display: inline-block;
  border: 0px none;
  border-radius: 8px;
  padding: 3px 10px;
  background: url(../images/input-bg.png) repeat-y top left;
  background-size: 100% 100%;
  color: #fff;
  position: absolute;
  left: 212px;
}
.address-wrap img {
  width: 272px;
}
.main form input {
  transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}
.main form input:hover,
.main form input:active,
.main form input:focus {
  box-shadow: 0 0 30px 0 rgba(0, 199, 236, 0.5) !important;
}
.main form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  opacity: 1;
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
}
.main form input::-moz-placeholder { /* Firefox 19+ */
  opacity: 1;
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
}
.main form input:-moz-placeholder { /* Firefox 18- */
  opacity: 1;
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
}
.main form input:-ms-input-placeholder { /* IE 10+ */
  opacity: 1;
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
}
.main form .pool-url {
  background: rgba(10, 26, 45, .5);
  padding: 7px 10px 6px;
  color: #fff;
  border-radius: 8px;
  width: 350px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  border: 1px solid #1a9dbd;
  text-align-last: left;
  height: 30px;
}
.main form .pool-url:focus {
  outline: none;
}
.options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 12px 0;
}
.custom-checkbox input[type=checkbox]{
  display: none;
}
.custom-checkbox {
  color: #ffffff;
  font-size: 19px;
  font-weight: 500;
  position: relative;
  top: -20px;
  padding-left: 22px;
  margin-bottom: 0px;
  text-align: left;
  display: inline-block;
  width: auto;
}
.custom-checkbox:before{
  content: "";
  background: url(../images/check-off.png);
  background-size: 100% 100%;
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  left: 0;
  top: 4px;
}
.custom-checkbox.checked:before{
  background: url('../images/check-on.png');
  background-size: 100% 100%;
}
.main form #cpuUsage {
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  padding: 2px 29px 3px 12px;
  border: 1px solid #1a9dbd;
  background-color: rgba(28, 170, 203, .35);
  color: #fff;
  border-radius: 10px;
  text-align-last: center;
  width: auto;
  height: 30px;
}
.main form #cpuUsage[disabled] {
  background-color: rgba(28, 170, 203, .35);
}
.main form .input-group p {
  font-family: 'Avenir Bold', sans-serif;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 0;
  margin-right: 10px;
  font-size: 13px;
  white-space: nowrap;
}
.input-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 15px;
}
.submit {
  border-radius: 7px;
  background-color: rgba(18, 190, 221, 0.45);
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.26px;
  line-height: 1.2;
  position: relative;
  border: 2px solid #54BCD9;
  margin: 0px 0 5px;
  padding: 6px 0px 4px;
  width: 140px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.submit:hover {
  box-shadow: 0 0 30px 0 rgba(0, 199, 236, 0.5) !important;
}
.submit:active {
  box-shadow: none !important;
}
.submit.active {
  background-color: rgba(221, 18, 99, 0.4);
  border: 2px solid #ff004e;
}
.mining-info {
  color: #fff;
  text-transform: uppercase;
  visibility: hidden;
  min-height: 18px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 1;
}
.mining-info.active {
  visibility: visible;
}

/* Bottom blocks */
.block,
.hashrate,
.balance {
  font-family: 'Courier New', Helvetica, Arial, sans-serif;
  font-size: 18px;
}
.block,
.hashrate,
.balance {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.white-text {
  font-size: 14px;
  color: #fff;
  margin-bottom: 0;
  line-height: 1;
  position: relative;
  top: -3px;
  width: 75px;
  text-align: left;
}
.blue-text {
  font-size: 14px;
  line-height: 1;
  color: #00deff;
  text-transform: uppercase;
  margin-bottom: 5px;
  margin-right: 15px;
  width: 97px;
  text-align: right;
}

/* Footer */
footer {
  position: absolute;
  right: 15px;
  bottom: 15px;
  text-align: right;
}
footer p {
  font-family: 'Rift Soft', Helvetica, Arial, sans-serif;
  color: #1caacb;
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 11px;
  letter-spacing: 4px;
  position: relative;
  right: -5px;
}
footer h3 {
  font-family: 'Rift Soft', Helvetica, Arial, sans-serif;
  color: #1caacb;
  margin: 0;
  font-size: 27px;
  letter-spacing: 5px;
  position: relative;
  right: -5px;
  font-weight: 600;
}
footer a:hover {
  cursor: pointer;
}
footer img {
  width: 130px;
}

/* Modal */
.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,.6);
  z-index: 10001;
  opacity: 0;
  visibility: hidden;
  transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}
.backdrop.active {
  visibility: visible;
  opacity: 1;
}
.modal {
  background: url(../images/modal-bg.png);
  background-size: 100% 100%;
  background-repeat: repeat-y;
  display: table;
  border: 1px solid #327A9B;
  border-radius: 8px;
  color: #fff;
  text-transform: uppercase;
  font-size: 17px;
  padding: 15px;
  width: 560px;
  visibility: hidden;
  opacity: 0;
  transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  margin: auto;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100002;
}
.modal.active {
  visibility: visible;
  opacity: 1;
}
.modal:hover {
  outline: 0px none;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 199, 236, 0.5);
  box-shadow: 0 0 20px 0 rgba(0, 199, 236, 0.5);
  border: 1px solid #00e7ff;
}
.modal button {
  border-radius: 7px;
  background-color: rgba(18, 190, 221, 0.45);
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.26px;
  line-height: 1.2;
  position: relative;
  border: 2px solid #54BCD9;
  margin: 0;
  padding: 6px 12px 5px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.modal button:hover {
  box-shadow: 0 0 30px 0 rgba(0, 199, 236, 0.5) !important;
}
.modal button:active {
  box-shadow: none !important;
}
.modal .form-group {
  margin-bottom: 0;
  margin-top: 5px;
}
.modal label {
  width: 100%;
  text-transform: capitalize;
  font-size: 14px;
  margin-bottom: 0;
}
.modal textarea {
  display: inline-block;
  border: 0px none;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0;
  font-size: 14px;
  background: url(../images/input-bg.png) repeat-y top left;
  background-size: 100% 100%;
  color: #fff;
  width: 528px;
  max-width: 528px;
  max-height: 90px;
  transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}
.modal textarea:hover,
.modal textarea:active,
.modal textarea:focus {
  box-shadow: 0 0 30px 0 rgba(0, 199, 236, 0.5) !important;
}
.modal textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  opacity: 1;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}
.modal textarea::-moz-placeholder { /* Firefox 19+ */
  opacity: 1;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}
.modal textarea:-moz-placeholder { /* Firefox 18- */
  opacity: 1;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}
.modal textarea:-ms-input-placeholder { /* IE 10+ */
  opacity: 1;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}
.modal .close {
  position: absolute;
  right: 15px;
  top: 14px;
  color: #fff;
  opacity: 1;
  font-size: 19px;
  font-family: "Brandon Grotesque Bold", Helvetica, Arial,sans-serif;
}
.modal .warning {
  color: #c80e4b;
}
.modal .warning.red {
  color: #c80e4b;
}
.modal .warning.green {
  color: #0ec8c1;
  text-transform: initial;
}
.modal .spendview {
  display: none;
}
.modal .spendview.active {
  display: block;
}
.modal .save-btn {
  background: #c80e4b;
  border: 1px solid #c80e4b;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.modal .save-btn:hover {
  box-shadow: 0 0 30px 0 rgba(200, 14, 75, 1) !important;
}
.modal .save-btn.green {
  background: #0ec8c1;
  border: 1px solid rgba(0, 231, 255, 1);
}
.modal .save-btn.green:hover {
  box-shadow: 0 0 30px 0 rgba(14, 200, 193, .5) !important;
}
.modal .copy-btn {
  margin-top: 0;
  margin-right: 10px;
  font-size: 11.5px;
  padding: 7px 12px 4px;
}
.modal .save-btn {
  margin-top: 5px;
  margin-right: 10px;
  font-size: 11.5px;
  padding: 7px 12px 4px;
}
.modal h5 {
  margin-top: 0;
  margin-bottom: 5px;
  margin-top: 10px;
  text-align: left;
}
.modal p {
  font-size: 13px;
  text-transform: initial;
  margin-bottom: 2px;
  text-align: left;
}