/* Modal */
.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,.8);
  z-index: 10001;
  opacity: 0;
  visibility: hidden;
  transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}
.backdrop.active {
  visibility: visible;
  opacity: 1;
}
.modal {
  background: url(../images/modal-bg.png);
  background-size: 100% 100%;
  background-repeat: repeat-y;
  display: table;
  border: 1px solid #327A9B;
  border-radius: 8px;
  color: #fff;
  text-transform: uppercase;
  font-size: 17px;
  padding: 15px;
  width: 755px;
  visibility: hidden;
  opacity: 0;
  transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  margin: auto;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100002;
}
.modal.active {
  visibility: visible;
  opacity: 1;
}
.modal:hover {
  outline: 0px none;
}
.modal form {
  text-align: center;
}
.modal button {
  border-radius: 7px;
  background-color: rgba(18, 190, 221, 0.45);
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.26px;
  line-height: 1.2;
  position: relative;
  border: 2px solid #54BCD9;
  margin: 5px 0 0;
  padding: 6px 12px 5px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.modal button:hover {
  box-shadow: 0 0 30px 0 rgba(0, 199, 236, 0.5) !important;
}
.modal button:active,
.modal button:focus {
  box-shadow: none !important;
  outline: 0px none !important;
  color: #fff !important;
}
.modal #new-wallet {
  margin-bottom: 10px;
}
.modal .browse-btn {
  display: inline-block;
  margin: 0 0 10px;
}
.modal .form-group {
  margin-bottom: 0;
  margin-top: 5px;
}
.modal label {
  width: 100%;
  text-transform: capitalize;
  font-size: 15px;
  margin-bottom: 0;
}
.modal textarea {
  text-align: left;
  display: inline-block;
  border: 0px none;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0;
  font-size: 15px;
  background: url(../images/input-bg.png) repeat-y top left;
  background-size: 100% 100%;
  color: #fff;
  width: 100%;
  text-align: center;
  max-height: 90px;
  transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  resize: none;
}
.modal textarea:hover,
.modal textarea:active,
.modal textarea:focus,
.modal input:hover,
.modal input:active,
.modal input:focus {
  box-shadow: 0 0 30px 0 rgba(0, 199, 236, 0.5) !important;
}
.modal textarea::-webkit-input-placeholder,
.modal input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  opacity: 1;
  color: #fff;
  font-size: 15px;
  text-align: center;
}
.modal textarea::-moz-placeholder,
.modal input::-moz-placeholder { /* Firefox 19+ */
  opacity: 1;
  color: #fff;
  font-size: 15px;
  text-align: center;
}
.modal textarea:-moz-placeholder,
.modal input:-moz-placeholder { /* Firefox 18- */
  opacity: 1;
  color: #fff;
  font-size: 15px;
  text-align: center;
}
.modal textarea:-ms-input-placeholder,
.modal input:-ms-input-placeholder { /* IE 10+ */
  opacity: 1;
  color: #fff;
  font-size: 15px;
  text-align: center;
}
.modal input {
  display: inline-block;
  border: 0px none;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0 0 15px;
  font-size: 15px;
  background: url(../images/input-bg.png) repeat-y top left;
  background-size: 100% 100%;
  color: #fff;
  width: 100%;
  max-height: 90px;
  text-align: center;
  transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}
.modal #filepath {
  background: transparent;
  padding: 5px 10px 5px 0;
}
.modal #filepath:hover,
.modal #filepath:focus {
  box-shadow: none !important;
}
.modal .yellow-field {
  background: rgba(223, 201, 131, 0.5);
  border: 2px solid #dfc983;
  text-align: left;
  margin: 0 0 10px;
  border-radius: 6px;
  padding: 4px 10px 3px;
  transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}
.modal input.yellow-field:hover,
.modal input.yellow-field:focus {
  box-shadow: 0 0 25px 0 rgba(255, 214, 22, 0.8) !important;
}
.modal .green-field {
  background: rgba(14, 200, 193, 0.5);
  border: 2px solid #0ec8c1;
  text-align: left;
  margin: 0 0 10px;
  border-radius: 6px;
  padding: 4px 10px 3px;
  transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}
.modal input.green-field:hover,
.modal input.green-field:active {
  box-shadow: 0 0 30px 0 rgba(14, 200, 193, .5) !important;
}
.modal .green-field span,
.modal .yellow-field span {
  font-size: 14px;
  line-height: 1.2;
  margin-right: 15px;
}
.modal .close {
  position: absolute;
  right: 15px;
  top: 14px;
  color: #fff;
  opacity: 1;
  font-size: 19px;
  font-family: "Brandon Grotesque Bold", Helvetica, Arial,sans-serif;
  -o-transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  transition: all ease 0.2s;
}
.modal .close:hover {
  color: #54BCD9;
  text-shadow: 0 1px 0 #54BCD9;
  opacity: 1;
}
.modal .warning {
  color: #c80e4b;
  text-align: left;
}
.modal .warning.red {
  color: #c80e4b;
}
.modal .warning.green {
  color: #0ec8c1;
  text-transform: initial;
}
.modal .spendview {
  display: none;
}
.modal .spendview.active {
  display: block;
}
.modal .cancel-btn {
  background-color: rgba(221, 18, 99, 0.4);
  border: 2px solid #ff004e;
  margin: 0 7.5px 0 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.modal .cancel-btn:hover {
  -webkit-box-shadow: 0 0 30px 0 rgba(200, 14, 75, 1) !important;
  box-shadow: 0 0 30px 0 rgba(200, 14, 75, 1) !important;
}
.modal .confirm-btn {
  margin: 0 0 0 7.5px;
}
.modal .save-btn {
  background: rgba(200, 14, 75, .5);
  border: 2px solid #c80e4b;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.modal .save-btn:hover {
  box-shadow: 0 0 30px 0 rgba(200, 14, 75, 1) !important;
}
.modal .save-btn.green {
  background: rgba(14, 200, 193, 1);
  border: 2px solid #0ec8c1;
  margin-right: 0;
}
.modal .save-btn.green:hover {
  box-shadow: 0 0 30px 0 rgba(14, 200, 193, .5) !important;
}
.modal .copy-btn {
  margin-top: 0;
  font-size: 11.5px;
  padding: 7px 12px 4px;
}
.modal .save-btn {
  margin-top: 5px;
  font-size: 11.5px;
  padding: 7px 12px 4px;
}
.modal h3 {
  margin: 0 0 25px;
  font-size: 20px;
  text-transform: initial;
}
.modal h5 {
  margin-top: 0;
  margin-bottom: 5px;
  margin-top: 10px;
  text-align: center;
}
.modal p {
  font-size: 13px;
  text-transform: initial;
  margin-bottom: 0;
  text-align: center;
}

.newWalletModal .spendview label {
  text-transform: uppercase;
}
.newWalletModal input {
  text-align: center;
}

.createNewWalletModal form label,
.openFromExistingModal form label,
.openCreateFromKeysModal form label {
  text-align: center;
}
.createNewWalletModal form button,
.openFromExistingModal form button,
.openCreateFromKeysModal form button {
  margin-bottom: 5px;
}

.openCreateFromKeysModal .form-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.openCreateFromKeysModal .form-group {
  margin-top: 0;
  width: calc(50% - 7.5px);
}

/* Send Modal */
.sendModal {
  border-radius: 8px;
  color: #fff;
  text-transform: uppercase;
  font-size: 17px;
  visibility: hidden;
  opacity: 0;
  transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  margin: auto;
}
.sendModal.active {
  visibility: visible;
  opacity: 1;
}
.sendModal h3 {
  margin: 10px 0 8px;
}
.sendModal #available-wrap {
  position: absolute;
  left: 15px;
  top: 15px;
}
.sendModal #available-wrap span {
  margin-right: 15px;
}
.sendModal p {
  background: transparent;
  border: 0px none;
  margin-right: 0;
  font-size: 17px;
  margin-bottom: 0;
  text-transform: initial;
  line-height: 1.2;
  text-align: center;
}
.sendModal .form-group-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sendModal .form-group-wrap .form-group {
  margin-top: 0;
  width: calc(50% - 7.5px);
}
.sendModal .form-group {
  display: flex;
  align-items: center;
  position: relative;
  min-height: 31px;
  margin-bottom: 16px;
}
.sendModal form {
  margin-top: 20px;
}
.sendModal label {
  width: 200px;
  text-align: left;
}
.sendModal .btn {
  margin: 0;
}
.sendModal input {
  width: 65%;
  margin: 0;
  text-align: left;
}
.sendModal textarea {
  width: calc(100% - 200px);
  margin: 0;
  text-align: left;
}
.sendModal input:hover,
.sendModal input:active,
.sendModal input:focus {
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 199, 236, 0.5) !important;
  box-shadow: 0 0 30px 0 rgba(0, 199, 236, 0.5) !important;
}
.sendModal .form-group .question-wrap {
  position: absolute;
  top: -1px;
  right: 0;
  width: 32px;
  height: 32px;
  border: 1px solid #60c9e6;
  border-radius: 50%;
  transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}
.sendModal .form-group .question-wrap:hover {
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 199, 236, 0.5) !important;
  box-shadow: 0 0 30px 0 rgba(0, 199, 236, 0.5) !important;
  cursor: pointer;
}
.sendModal .form-group .question-wrap:active {
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 199, 236, 0.5) !important;
  box-shadow: 0 0 30px 0 rgba(0, 199, 236, 0.5) !important;
}
.sendModal .form-group .question-wrap:focus {
  outline: 0px none;
}
.sendModal #mixin-label {
  position: relative;
  z-index: initial;
  text-align: left;
  width: 250px;
}
.sendModal .form-group .question-wrap span {
  position: relative;
  top: -7px;
  left: -0px;
  color: #fff;
  font-size: 19px;
  transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  font-family: "Atrament", Helvetica, Arial, sans-serif;
  pointer-events: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
.sendModal select {
  /* background: rgba(255, 255, 255, 0.24) url(../images/select-bg.png) no-repeat top 10px right 3px / contain; */
  background: url(../images/input-bg.png) repeat-y top left;
  background-size: 100% 100%;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  width: 65%;
  left: 200px;
  top: 0;
  text-align-last: left;
  border: 0px none;
  border-radius: 5px !important;
  display: inline-block;
  font-size: 15px;
  position: absolute;
  height: 31px;
  z-index: 2;
  margin: 0;
  padding: 0 10px;
  color: #fff;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}
.sendModal select:hover {
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 199, 236, 0.5) !important;
  box-shadow: 0 0 30px 0 rgba(0, 199, 236, 0.5) !important;
}
.sendModal select:focus {
  outline: 0px none;
}
.sendModal textarea::-webkit-input-placeholder,
.sendModal input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  text-align: left;
}
.sendModal textarea::-moz-placeholder,
.sendModal input::-moz-placeholder {
  /* Firefox 19+ */
  text-align: left;
}
.sendModal textarea:-moz-placeholder,
.sendModal input:-moz-placeholder {
  /* Firefox 18- */
  text-align: left;
}
.sendModal textarea:-ms-input-placeholder,
.sendModal input:-ms-input-placeholder {
  /* IE 10+ */
  text-align: left;
}